/*
@import "https://www.nerdfonts.com/assets/css/webfont.css"
*/

/*
@font-face {
    font-family: "NerdFontsSymbols Nerd Font"
    src: "https://www.nerdfonts.com/assets/fonts/Symbols-2048-em%20Nerd%20Font%20Complete.woff2";
}
*/

/*
.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}
*/

:root {    
    --md-admonition-icon--fingerprint: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.81 4.47c-.08 0-.16-.02-.23-.06C15.66 3.42 14 3 12 3c-1.97 0-3.85.47-5.56 1.41-.24.13-.54.04-.68-.2a.506.506 0 0 1 .2-.68C7.82 2.5 9.86 2 12 2s4 .47 6.04 1.5c.25.15.34.45.21.69a.48.48 0 0 1-.44.28M3.5 9.72c-.1 0-.2-.03-.29-.09a.517.517 0 0 1-.12-.7c.99-1.4 2.25-2.5 3.75-3.27C10 4.04 14 4.03 17.15 5.65c1.5.77 2.76 1.85 3.75 3.25.16.22.1.54-.12.7-.23.16-.54.11-.7-.1a9.26 9.26 0 0 0-3.39-2.96c-2.87-1.47-6.54-1.47-9.4.01-1.36.7-2.5 1.7-3.4 2.95-.08.15-.23.22-.39.22m6.25 12.07c-.13 0-.25-.05-.35-.15-.87-.87-1.34-1.43-2.01-2.64-.69-1.23-1.05-2.73-1.05-4.34 0-2.97 2.54-5.39 5.66-5.39s5.66 2.42 5.66 5.39a.5.5 0 0 1-.5.5.5.5 0 0 1-.5-.5c0-2.42-2.09-4.39-4.66-4.39s-4.66 1.97-4.66 4.39c0 1.44.32 2.77.93 3.84.64 1.16 1.08 1.65 1.85 2.43.19.2.19.51 0 .71-.12.1-.24.15-.37.15m7.17-1.85c-1.19 0-2.24-.3-3.1-.89-1.49-1.01-2.38-2.65-2.38-4.39a.5.5 0 0 1 .5-.5.5.5 0 0 1 .5.5c0 1.41.72 2.74 1.94 3.56.71.48 1.54.71 2.54.71.24 0 .64-.03 1.04-.1.27-.05.54.13.58.41.05.26-.13.53-.41.58-.57.11-1.07.12-1.21.12M14.91 22h-.13c-1.59-.46-2.63-1.05-3.72-2.12a7.28 7.28 0 0 1-2.17-5.22c0-1.62 1.38-2.94 3.08-2.94s3.08 1.32 3.08 2.94c0 1.07.95 1.94 2.08 1.94 1.15 0 2.08-.87 2.08-1.94 0-3.77-3.25-6.83-7.25-6.83-2.84 0-5.46 1.58-6.61 4.03-.39.81-.59 1.76-.59 2.8 0 .78.07 2.01.67 3.61.1.26-.03.55-.29.64a.504.504 0 0 1-.64-.29c-.5-1.31-.73-2.62-.73-3.96 0-1.2.23-2.29.68-3.24 1.33-2.79 4.28-4.6 7.51-4.6 4.54 0 8.25 3.51 8.25 7.83 0 1.62-1.38 2.94-3.08 2.94s-3.08-1.32-3.08-2.94c0-1.07-.93-1.94-2.08-1.94s-2.08.87-2.08 1.94c0 1.71.66 3.31 1.87 4.51.95.94 1.86 1.46 3.27 1.84.27.08.42.36.35.62-.05.23-.26.38-.47.38"/></svg>')
}

:root {
    --md-admonition-icon--angryface: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 256a256 256 0 1 1 512 0 256 256 0 1 1-512 0m338.7 139.9c6.6-5.9 7.1-16 1.2-22.6-16.1-17.9-44.2-37.3-83.9-37.3s-67.8 19.4-83.9 37.3c-5.9 6.6-5.4 16.7 1.2 22.6s16.7 5.4 22.6-1.2c11.7-13 31.6-26.7 60.1-26.7s48.4 13.7 60.1 26.7c5.9 6.6 16 7.1 22.6 1.2M176.4 272c17.7 0 32-14.3 32-32 0-1.5-.1-3-.3-4.4l10.9 3.6c8.4 2.8 17.4-1.7 20.2-10.1s-1.7-17.4-10.1-20.2l-96-32c-8.4-2.8-17.4 1.7-20.2 10.1s1.7 17.4 10.1 20.2l30.7 10.2c-5.8 5.8-9.3 13.8-9.3 22.6 0 17.7 14.3 32 32 32m192-32c0-8.9-3.6-17-9.5-22.8l30.2-10.1c8.4-2.8 12.9-11.9 10.1-20.2S387.3 174 379 176.8l-96 32c-8.4 2.8-12.9 11.9-10.1 20.2s11.9 12.9 20.2 10.1l11.7-3.9c-.2 1.5-.3 3.1-.3 4.7 0 17.7 14.3 32 32 32s32-14.3 32-32z"/></svg>')
}

/*
.md-typeset {
  font-size: .7rem;
  line-height: 1.3;
}
*/

.md-typeset {
  line-height: 1.4;
}
.md-typeset table:not([class]) th {
  padding: .65em 1.25em;
}
.md-typeset table:not([class]) td {
  padding: .65em 1.25em;
}

.md-typeset .highlight {
  font-size: .72rem;
}

.md-typeset p {
  font-size: .75rem;
  margin-bottom: 0.4em;
}
.md-typeset dd {
  margin-top: .5em;
  margin-bottom: 1.0em;
}
.md-typeset li {
  font-size: .75rem;
}
.md-typeset .admonition p {
  font-size: .65rem;
}

.md-typeset .footnote li {
  font-size: .60rem;
}

.md-typeset .footnote p {
  font-size: .60rem;
}

.md-typeset .footnote-ref {
  font-size: .9em;
}



.md-typeset .admonition.angryface,
.md-typeset details.angryface {
  border-color: rgb(242, 108, 85);
  border-width: 0;
  border-left-width: 4px;
}
.md-typeset .angryface > .admonition-title,
.md-typeset .angryface > summary {
  background-color: rgba(242, 108, 85, 0.15);
}
.md-typeset .angryface > .admonition-title::before,
.md-typeset .angryface > summary::before {
  background-color: rgb(242, 108, 85);
  -webkit-mask-image: var(--md-admonition-icon--angryface);
          mask-image: var(--md-admonition-icon--angryface);
}



.md-typeset .admonition.fingerprint,
.md-typeset details.fingerprint {
  border-color: rgb(158, 158, 158);
  border-width: 0;
  border-left-width: 4px;
}
.md-typeset .fingerprint > .admonition-title,
.md-typeset .fingerprint > summary {
  background-color: rgba(158, 158, 158, 0.1);
}
.md-typeset .fingerprint > .admonition-title::before,
.md-typeset .fingerprint > summary::before {
  background-color: rgb(158, 158, 158);
  -webkit-mask-image: var(--md-admonition-icon--fingerprint);
          mask-image: var(--md-admonition-icon--fingerprint);
}

.md-typeset .admonition.blankout,
.md-typeset details.blankout {
  border-color: rgba(255, 255, 255, 0);
  border-width: 0;
  border-left-width: 4px;
}
.md-typeset .blankout > .admonition-title,
.md-typeset .blankout > summary {
  background-color: rgba(255, 255, 255, 0);
}
.md-typeset .blankout > .admonition-title::before,
.md-typeset .blankout > summary::before {
  background-color: rgba(255, 255, 255, 0);
}

.md-grid {
    max-width: 95%;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, var(--md-primary-fg-color--light), var(--md-primary-fg-color--dark));
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(255, 213, 0, 0.5), .125rem .125rem 1rem rgba(255, 213, 0, 0.3);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(255, 213, 0, 0.5), .125rem .125rem 1rem rgba(255, 213, 0, 0.3);
}